
.btn-link .linkIcon {
    background-image: url("images/Link.png");
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
 
}
.btn-link .dijitButtonNode{
  /*position: absolute;*/
  width:100%;
  float: right;
}
.jimu-widget-DualMap{
  z-index: auto !important;
}


