<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*" mustMatch="true">
    <serverUrls>
        <serverUrl
    url="https://framework-dev.cyient-fiops.com/server/rest/services"
    tokenServiceUri="https://framework-dev.cyient-fiops.com/server/tokens"
    username="siteadmin"
    password="Info9tech"
    matchAll="true"/>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
